body {
  position: relative;
}
#swifty-light-box {
  width: 300px;
  height: 100px;

  background: #CCC;
  position: absolute;
}
#submit {
  width: 40px;
  height: 20px;
  background: #888;
}

#more {
  width: 15px;
  height: 15px;
  background: red;
}