body {
  position: relative;
}
#swifty-light-box {
  border-radius: 10px;
  position: absolute;
  z-index: 10;
  box-shadow: 2px 3px 5px #888;
} 
.box-small{
  width: 180px;
  height: 50px;
  background: #F55F02;
}

.box-full {
  height: 140px;
  width: 360px;
  border: 1px solid #BBB;
  background: #EEE;
}

.submit-small {
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  color: white;
}

.submit-full {
  box-shadow: 0px 2px 1px #E5491F;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: white;
  border-radius: 5px;
  width: 55px;
  height: 26px;
  background: #F55F02;
  float: right;
  margin-right: 10px;
}

.submit_more {
  width: 40px;
  height: 20px;
  background: #888;
}

#more {
  width: 15px;
  height: 15px;
  background: red;
}

#share {
  width: 15px;
  height: 15px;
  background-color: #BBB;
}

#img_container_s, #img_container_f {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 25px;
  height: 25px;
  background: #BBB;
  border-radius: 20px;
}
#img_container_s img, #img_container_f img{
  width: 19px;
  height: 19px;
  margin-left: 3px;
  margin-top: 3px;
}

.img_container_f {
  border: 2px solid #F55F02;
}
.img_container_s {
  border: 2px solid #BBB;
}

.display-none {
  display: none;
}

#annotation {
  margin: 10px;
  width: 330px;
  height: 70px;
  border-radius: 10px; 
  border-bottom-left-radius: 0px; 
  border-bottom-right-radius: 0px; 
}

#tag {
  margin-left: 10px;
  float: left;
  height: 15px;
}

input[type=checkbox]:checked:before { background:green; }​

input[checkbox] {
  display:inline-block;
  border: 1px solid red;
}

#share {
  display: none;
}
#share_container {
  display:inline-block;
  height: 25px;
  width: 25px;
  float: left;
  margin-left: 5px;
  border-radius: 6px;
  background-color: #BBB; 
  box-shadow: 0px 2px 1px #333;
}
#imgshare {
  width: 17px;
  height: 17px;
  margin: 5px;
}